:root{
    --purple: #7a5af5;
    /* #3f3f3f */
    --light-background: rgb(63, 63, 63);
    /* #282828 */
    --dark-background: rgb(40, 40, 40);
    --animation-speed: 60s;
    --slideshow-card-width: 14rem;
    --slideshow-num-of-cards: 20;
}

body {
    margin: 0;
    background-color: var(--dark-background);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, li {
    color: #8b8b8b;
}

a  {
    color: var(--purple);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav-bar {
    display: flex;
    height: 5rem;
    background-color: var(--light-background);
}

#nav-bar-logo {
    display: flex;
    width: 18rem;
    height: 5rem;
    align-items: flex-end;
    border-right: dashed #121212 1px;
}

#nav-bar-logo div {
    display: flex;
    width: 5rem;
    height: 5rem;
}

#nav-bar-logo img {
    padding: 0.2rem;
}

#nav-bar-logo h2 {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: var(--purple);
    font-size: 1.7rem;
}

#nav-bar nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

#nav-bar nav div {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.nav-bar-ico {
    height: 1.6rem;
    padding-right: 0.3rem;
}

#nav-bar a {
    font-size: 1.8rem;
    color: var(--purple);
    text-decoration: none;
}

/* search bar */

.searchPage {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vw;
}

.searchWrapper {
    width: 500px;
}

.search {
    width: 500px;
    height: 40px;
    background: #121212;
}
  
.search input {
    width: 370px;
    padding: 12px;
    float: left;
    color: #F0EDEE;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
}
  
.search input:focus {
    outline: 0;
    background: transparent;
}
  
.search button {
    float: right;
    border: 0;
    cursor: pointer;
    height: 40px;
    width: 80px;
    color: #F0EDEE;
    background: transparent;
    border-left: 1px solid #F0EDEE;
}
  
.search button:hover {
    background: #F0EDEE;
    color: #121212;
}

#results-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
}

#results-wrapper h2 {
    width: fit-content;
}

#results-wrapper .cardButton img {
    width: 14rem;
    padding: 1rem;
    box-sizing: border-box;
}

#results-wrapper .cardButton img:hover {
    border: 1px solid var(--purple);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--slideshow-card-width) * var(--slideshow-num-of-cards)))}
}

.cardSlideshow {
    justify-content: center;
    background-color: var(--light-background);
    height: 20rem;
    width: 76.5vw;
    overflow: hidden;
}

.cardSlideshow::before, .cardSlideshow::after {
    position: absolute;
    top: calc(5rem + 10vh);
    content: "";
    height: 20rem;
    width: 10%;
    z-index: 2;
}

.cardSlideshow::before {
    background: linear-gradient(to right, var(--dark-background) 0%, rgba(0,0,0,0) 100%);
    left: 10%;
}

.cardSlideshow::after {
    right: 7.8%;
    background: linear-gradient(to left, var(--dark-background) 0%, rgba(0,0,0,0) 100%);
}

.cardSlideshowTrack {
    display: flex;
    align-items: center;
    width: calc(var(--slideshow-card-width) * var(--slideshow-num-of-cards) * 2);
    height: 20rem;
    animation: scroll var(--animation-speed) linear infinite;
}

.cardSlideshowTrack::after {
    content: attr(div);
    position: absolute;
    left: 0;
    right: 0;
    transform: rotateZ(180deg);
}

.cardSlideshow .randomCard img {
    width: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cardSlideshow .randomCard img:hover {
    width: 14rem;
    padding-left: 0;
    padding-right: 0;
}

.searchHelpOuter, .homePage {
    padding-top: 10vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;

}

.innerWrapper h1, h2 {
    color: var(--purple);
}

.innerWrapper p, h2, ul, li {
    width: 100%;
}

.innerWrapper h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.innerWrapper p {
    text-align: justify;
    text-justify: inter-word;
}

.innerWrapper pre {
    width: 70%;
    justify-self: stretch;
    background-color: var(--light-background);
}

.innerWrapper code:before {
    content: "🔍";
}

.innerWrapper ul {
    border-top: 0;
    padding-top: 0;
    margin-top: -0.8rem;
    margin-left: 5rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
}

.pagination-page, .pagination-break, .pagination-prev, .pagination-next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin: 0 0.2rem;
    border-radius: 4px;
    background-color: var(--light-background);
    color: var(--purple);
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.pagination-prev img, .pagination-next img {
    vertical-align: middle;
    line-height: 2rem;
    margin-top: -.3rem;
}

.pagination-page:hover, .pagination-prev:hover, .pagination-next:hover {
    background-color: var(--purple);
    color: #fff;
}

.pagination-page:hover a, .pagination-prev:hover a, .pagination-next:hover a, .pagination-active a {
    color: #fff;
}

.pagination-active {
    background-color: var(--purple);
    color: #fff;
    pointer-events: none;
    cursor: default;
}

.pagination-disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.pagination-break {
    cursor: default;
    pointer-events: none;
}

.pagination-prev img, .pagination-next img {
    width: 1rem;
    height: 1rem;
}